<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Senha"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-spinner *ngIf="isLoading == true" class="spinner" [diameter]="30"></mat-spinner>
      <button *ngIf="isLoading == false" mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
</div>
