<div class="container-sm">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-6 justify-content-md-center">
      <div class="wrapper">
        <h1>Aplicativo Minha Agenda</h1>

        <p>Foi desenvolvido para uma avaliação de conhecimento em Angular 9.</p>
        <p>Esse tem como principais funcionalidades:</p>
        <ul>
          <li>Cadastro de novo usuário</li>
          <li>Login</li>
          <li>Proteção de rotas</li>
          <li>Listagem de contatos</li>
          <li>Cadastro de novo contato</li>
          <li>Edição de um contato</li>
          <li>Deleção de um contato</li>
        </ul>
      </div>
    </div>
  </div>
</div>
