<mat-toolbar color="primary" fixed>
  <mat-toolbar-row>
    <span>
      <a routerLink="/" routerLinkActive="active" mat-button> Minha Agenda </a>
    </span>
    <span class="spacer"></span>
    <nav>
      <a
        *ngIf="!isLogged"
        mat-button
        routerLink="/auth/sign-in"
        routerLinkActive="active"
        >Login</a
      >
      <span class="spacer-m1"></span>
      <a
        *ngIf="!isLogged"
        mat-button
        routerLink="/auth/sign-up"
        routerLinkActive="active"
        >Cadastro</a
      >
      <a
        *ngIf="isLogged"
        mat-button
        routerLink="/contacts"
        routerLinkActive="active"
        >Contatos</a
      >
      <span *ngIf="isLogged" class="spacer-m1"></span>
      <a *ngIf="isLogged" mat-button (click)="signOut()">Sair</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
