.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -64px;
    margin-left: 10px;
    margin-right: 10px;
}

.mat-card-content {
    min-width: 260px;
    width: 320px;
}

.mat-card-header {
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.spinner {
    margin-inline: auto;
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}